<html>
	<head>
		<title>Contact Me</title>
		<link type="text/css" rel="stylesheet" href="static/styles.css" />
                <link rel="stylesheet" href="/static/agile_carousel.css" type='text/css'>
                <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />
                <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
                <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>
                <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
	</head>
	<body>
		 <!-- Facebook Comment -->
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                                  js = d.createElement(s); js.id = id;
                                  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                                  fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                </script>


		<iframe src="http://free.timeanddate.com/clock/i2zoeiel/n1892/fn14/fs16/fc0ff/tc000/ftbi/bas2/bat1/bacfff/pa8/tt0/tw1/th1/ta1/tb4" frameborder="0" width="255" height="58"></iframe>  </br>
                <div id="container">
                        <div id="header">
                                <center>
                                        <font color="maroon">
                                                <i> “Time is more valuable than money. You can get more money, but you cannot get more time.”</i>
                                        </font>
                                        <h1>Github Account Details</h1>
                                </center>
                        </div>
			<div id="body">
				<script type="text/javascript">var _kiq = _kiq || [];</script>
		                <script type="text/javascript" src="//s3.amazonaws.com/ki.js/33181/6se.js" async="true"></script>
				<div class="alert">
                                <ul class="nav nav-tabs">
                                        <li class="active"><a href="/">Home</a></li>
                                        <li><a href="http://anoopsmohan.blogspot.com/" target="_blank">Blog</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li class="dropdown">
                                                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <b class="caret"></b></a>
                                                  <ul class="dropdown-menu">
                                                            <li><a href="http://lispinterpreter.appspot.com" target="_blank">Lisp Interpreter</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="http://chart-app.appspot.com" target="_blank">Google Charts</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="http://vertex-coloring.appspot.com" target="_blank">Graph Coloring(GA)</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="http://djaango-graph-coloring.appspot.com" target="_blank">Grph Coloring(dj)</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="http://url-shortner.appspot.com" target="_blank">URL Shortener(GA)</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="http://dj-urlappspot.com" target="_blank">URL Shortener(dj)</a></li>
                                                  </ul>
                                        </li>
                                 </ul>
                                 </div>
				<div id="side_bar">
                                <ul class="nav nav-pills">
                                        <li>
                                                <!-- Facebook Badge START --><a href="http://www.facebook.com/anoopmhn" target="_TOP" title="Anoop Mohan"><img src="http://badge.facebook.com/badge/100000371739134.2613.634736657.png" style="border: 0px;" /></a><!-- Facebook Badge END -->
                                        </li>

                                        <li>
                                                <!-- Facebook Badge START --><a href="http://www.facebook.com/anoopmhn" target="_TOP" title="Anoop Mohan"><img src="http://badge.facebook.com/badge/100000371739134.2614.351681280.png" style="border: 0px;" /></a><br/><a href="http://www.facebook.com/badges/" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Make your own badge!">Create Your Badge</a><!-- Facebook Badge END -->
                                        </li>
                                </ul>
                                </div>
				<div id="email_div" style="width:600; overflow:auto">
					{%if success%}
        	                                <div class="alert alert-success">
                	                                <strong>Success! &nbsp;&nbsp;</strong> {{success}}
                        	                </div>
	                                {%endif%}
					{%if success1%}
                                                <div class="alert alert-success">
                                                        <strong>Success! &nbsp;&nbsp;</strong> {{success1}}
                                                </div>
                                        {%endif%}

					{%if error%}
                                        	<div class="alert alert-error">
                                                	<strong>Warning!&nbsp;&nbsp;</strong> {{error}}
                                        	</div>
	                                {%endif%}
					{%if warning%}
                                                <div class="alert alert-block">
                                                        <strong>Warning!&nbsp;&nbsp;</strong> {{warning}}
                                                </div>
                                        {%endif%}
					<font size="3" color="blue">Contact Me</font></br></br>
			<!--		<font size=2 ><b>CONTACT</b></font></br></br>  -->
					<b>Email &nbsp;:</b> anoopmhn2009@gmail.com</br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;anoopmhn2009@gmail.com</br>
					<b>Blog &nbsp;&nbsp;&nbsp;:</b><a href="http://www.anoopsmohan.blogspot.com" target="_blank"> http://anoopsmohan.blogspot.com</a></br>
					<b>Phone :</b> +91 9447314687 (Kerala)</br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+91 8147527842 (Bangalore)</br></br>

<p>If you don't want to use the contact info above feel free to send an Email to me now - I'm always open for suggestions and questions, criticism and praise.</p></br>
					<font size="3" color="blue">Send an Email to me</font></br></br>
					<form method="POST" action="email_send">
                                                <table style="width:600; overflow:auto">
                                                        <tr>
								<td style="width:100px">
									<label>Email</label>
								</td>
                                                                <td style="width:500px">
                                                                        <input type="search" id="email" name="email" placeholder="Type your Email ID" data-provide="typeahead" class="search-query" value="{{email}}">
                                                                </td>
							</tr>
							<tr>
								<td style="width:100px">
                                                                	<label>Name</label>
                                                                </td>
                                                                <td style="width:500px">
                                                                        <input type="search" id="name" name="name" placeholder="Type your Name" data-    provide="typeahead" class="search-query" value="{{name}}">
                                                                </td>   
							</tr>
	                                                <tr>
                                                                <td style="width:100px">
                                                                        <label>Message</label>
                                                                </td>
                                                                <td style="width:500px">
									<textarea style="WIDTH: 500px; HEIGHT: 144px" name="msg" id="msg"  cols="15" >{{msg}} </textarea>
                                                                </td>   
                                                        </tr>

							<tr>
                                                                <td>
                                                                        <div class="searchbtn">
                                                                                        <input name="search" type="submit" value="Send Email">
                                                                        </div>
                                                                </td>
                                                        </tr>
                                                </table>
                                        </form></br>


                                	<div id="fb_comment">
                                        	<div class="fb-comments" data-href="http://www.github-details.appspot.com/" data-num-posts="2" data-width="470"></div>
                                	</div>
                                </div>
                        </div>
			<div id="footer">
                                <center>
                                        <font size=1 color="maroon">Copyright statement. Designed by Anoop.S.M</br>All rights reserved.</font>
                                </center>
                         </div>
                </div>
        </body>
</html>

