<html>
<head></head>
<body>
<div align="center" style="background-color: rgb(142,101,64);">
  <table width="740" cellspacing="0" cellpadding="0" border="0" style="border: 0pt none ; margin: 0pt; padding: 0pt; color: rgb(51, 51, 51); text-align: left; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 15px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; line-height: 1.5;">
    <tbody>
      <tr>
        <td height="30" style="padding: 15px 0pt 0pt;" colspan="3"><img width="740" height="30" border="0" style="display: block;" alt="" src="http://new.beevolve.com/site_media/img/email-bg-page-t-brown.gif"/></td>
      </tr>
      <tr>
        <td width="40" background="http://new.beevolve.com/site_media/img/email-bg-page-l-brown.gif">
        </td>
        <td width="660" valign="top" bgcolor="#ffffff">
          <table width="660" cellspacing="0" cellpadding="0" border="0" style="border: 0pt none ; margin: 0pt; padding: 0pt;">
            <tbody>
              <tr>
                <td width="60">
                </td>
                <td width="370" valign="top" style="padding: 30px 0pt; color: rgb(51, 51, 51); font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 18px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; line-height: 1.4;">
                  <strong>Hi {{name}},</strong>
                </td>
                <td width="170" valign="top" style="padding: 25px 0pt;">
                </td>
                <td width="60">
                </td>
              </tr>
            </tbody>
          </table>
          <table width="660" cellspacing="0" cellpadding="0" border="0" style="border: 0pt none ; margin: 0pt; padding: 0pt;">
            <tbody>
              <tr>
                <td width="60">
                </td>
                <td width="540" style="padding: 0pt 0pt 40px; color: rgb(51, 51, 51); text-align: justify; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 15px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; line-height: 1.5;">
                  <p style="margin: 0pt; padding: 0pt;">
                  Welcome to Github Account Details and thanks for using My Application. 
                  </p>
                </td>
                <td width="60">
                </td>
              </tr>
            </tbody>
          </table>
          <table width="660" cellspacing="0" cellpadding="0" border="0" style="border-top: 1px solid rgb(206, 227, 237); border-bottom: 1px solid rgb(206, 227, 237); margin: 0pt; padding: 0pt; background-color: rgb(237, 247, 252);">
            <tbody>
              <tr>
                <td width="60">
                </td>
                       <td width="16">
                </td>   
                <td width="364" valign="top" style="padding: 1.5em 0pt;">
                  <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 0pt none ; margin: 0pt; padding: 0pt; color: rgb(141, 155, 166); font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 15px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; line-height: 1.5;">
                     <tbody>
		<a href="http://www.github-details.appspot.com" target="_blank"><img width="600" height="350" border="0" style="display: block;" alt=""  src="http://www.github-details.appspot.com/static/img/github_details.png"/></a>
                    </tbody>  
                  </table>
                </td>
                <td width="60">
                </td>
              </tr>
            </tbody>
          </table>
          <table width="660" cellspacing="0" cellpadding="0" border="0" style="border-style: none none dashed; border-color: -moz-use-text-color -moz-use-text-color rgb(230, 230, 230); border-width: 0pt 0pt 1px; margin: 0pt; padding: 0pt;">
            <tbody>
              <tr>
                <td width="60">
                </td>
                <td width="540" style="padding: 2.5em 0pt 2.75em; color: rgb(51, 51, 51); font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 15px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; line-height: 1.5;">
                  <p style="margin: 0pt 0pt 1em; padding: 0pt;">Get in touch if you need <strong>any help</strong> or just want to say Hello</p>
                  <table width="540" cellspacing="0" cellpadding="0" border="0" style="margin: 1em 0pt 0pt; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-style: normal; font-variant: normal; font-size: 15px; font-size-adjust: none; font-stretch: normal; -x-system-font: none; font-weight: bold; line-height: 1.5;">
                    <tbody>
                      <tr>
                        <td width="20" valign="top" style="padding: 4px 0pt 0pt;"><img width="16" height="16" style="display: block;" alt="" src="http://new.beevolve.com/site_media/img/email-i-reply.gif"/>
                        </td>
                        <td width="160" valign="top">Reply to this email
                        </td>
                        <td width="20" valign="top" style="padding: 4px 0pt 0pt;"><img width="16" height="16" style="display: block;" alt="" src="http://new.beevolve.com/site_media/img/email-i-help.gif"/>
                        </td>
                        <td width="20" valign="top" style="padding: 4px 0pt 0pt;"><img width="16" height="16" style="display: block;" alt="" src="http://new.beevolve.com/site_media/img/email-i-twitter.gif"/>
                        </td>
                        <td width="160" valign="top"><a target="_blank" style="color: rgb(0, 89, 153);" href="http://twitter.com/anoopmhn2009">Follow me on Twitter</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td width="60">
                </td>
              </tr>
			<tr ><td width="60"></td><td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-style: nor    mal; font-variant: normal; font-weight: normal; font-size: 15px; font-size-adjust: none; font-stretch: normal; -x-system-font: none;">Thanks and Regards,</td></tr>
			<tr><td width="60"></td><td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-style: nor    mal; font-variant: normal; font-weight: normal; font-size: 15px; font-size-adjust: none; font-stretch: normal; -x-system-font: none;">Anoop.S.M</td></tr>
			<tr ><td width="60"></td><td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-style: nor    mal; font-variant: normal; font-weight: normal; font-size: 15px; font-size-adjust: none; font-stretch: normal; -x-system-font: none;">Software Engineer @ <a href="http://www.beevolve.com" target="_blank"> Beevolve</a></td></tr>
                        <tr><td width="60"></td><td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-style: nor    mal; font-variant: normal; font-weight: normal; font-size: 15px; font-size-adjust: none; font-stretch: normal; -x-system-font: none;">Mob: +91 8147527842</td></tr>

            </tbody>
          </table>
        </td>
       <td width="40" background="http://new.beevolve.com/site_media/img/email-bg-page-r-brown.gif">
       </td>
      </tr>
    </tbody>
  </table>
</div>


</body>
</html>
