<html>
	<head>
		<title>Github Account Details</title>
		<link type="text/css" rel="stylesheet" href="static/styles.css" />
		<link rel="stylesheet" href="/static/agile_carousel.css" type='text/css'>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" />
		<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
		<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>
		<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>

		<script type="text/javascript">
			(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			})();
		</script>
		<meta property="og:description" content="Github Account Details can help you to search your github account (personal and repository) details, more over it helps you for topic searching" />
		<meta property="og:title" content="Github Account Details" />
		<meta property="og:type" content="product" />
		<meta property="og:url" content="http://www.github-details.appspot.com/" />
		<meta property="og:image" content="http://www.github-details.appspot.com/static/img/github_details.png" />
		<meta property="og:site_name" content="Github Account Details" />
<!--
		<style type="text/css">
		        thead {
			            background-color: black;
			            color: white;
			            text-indent: 14px;
		            text-align: center ;
		        }	
		        tbody tr:nth-child(odd) {
			            background-color: rgba(0, 255, 255, 0.1); /* green, 10% alpha */
		        }
		        tbody tr:nth-child(even) {
			            background-color: rgba(211,211,211, 0.3); /* red, 30% alpha */
		        }
		</style>    -->
		<STYLE TYPE="text/css">
		<!--
			 TD{font-family: Arial; font-size: 10pt;}
		-->
		<style type="text/css">
			A:link {text-decoration: none}
			A:visited {text-decoration: none}
			A:active {text-decoration: none}
		</style>
		<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
		<script type="text/javascript">stLight.options({publisher: "ur-c2d54fd3-6bda-99d9-87aa-9b8655a7aadd"}); </script>    
	</head>
	<body> 
		<script type="text/javascript">var _kiq = _kiq || [];</script>
                <script type="text/javascript" src="//s3.amazonaws.com/ki.js/33181/6se.js" async="true"></script>
		<!-- Facebook Comment -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
				  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>

		<!-- Clock  -->
		<iframe src="http://free.timeanddate.com/clock/i2zoeiel/n1892/fn14/fs16/fc0ff/tc000/ftbi/bas2/bat1/bacfff/pa8/tt0/tw1/th1/ta1/tb4" frameborder="0" width="255" height="58"></iframe>  </br>

                <div id="container">
			<div id="header">
				<center>
					<font color="maroon">
						<i> “Time is more valuable than money. You can get more money, but you cannot get more time.”</i>
					</font>
					<h1>Github Account Details</h1>
				</center>
			</div>
			<div id="body">
				<div class="alert">
				<ul class="nav nav-tabs">
        				<li class="active"><a href="/">Home</a></li>
				        <li><a href="http://anoopsmohan.blogspot.com/" target="_blank">Blog</a></li>
				        <li><a href="/contact">Contact</a></li>
				        <li class="dropdown">
					          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projects <b class="caret"></b></a>
					          <ul class="dropdown-menu">
        						    <li><a href="http://lispinterpreter.appspot.com" target="_blank">Lisp Interpreter</a></li>
						            <li class="divider"></li>
						            <li><a href="http://chart-app.appspot.com" target="_blank">Google Charts</a></li>
						            <li class="divider"></li>
						            <li><a href="http://vertex-coloring.appspot.com" target="_blank">Graph Coloring(GA)</a></li>
						            <li class="divider"></li>
						            <li><a href="http://djaango-graph-coloring.appspot.com" target="_blank">Grph Coloring(dj)</a></li>
						            <li class="divider"></li>
						            <li><a href="http://url-shortner.appspot.com" target="_blank">URL Shortener(GA)</a></li>
						            <li class="divider"></li>
						            <li><a href="http://dj-urlappspot.com" target="_blank">URL Shortener(dj)</a></li>
					          </ul>
				        </li>
					<li>
						<g:plusone annotation="inline" width="120"></g:plusone>
					</li>
					<li>
						<div class="fb-like" data-send="true" data-layout="button_count" data-width="350" data-show-faces="true"></div>
					</li>
			         </ul>
				 </div>




	<!--			<ul class="nav nav-pills">
					<li class="active"><a href="/">Home</a></li>
					<li class="active"><a href="http://anoopsmohan.blogspot.com/" target="_blank">Blog</a></li>
					<li class="active"><a href="#">Contact</a></li>
					<li class="active">
						<g:plusone annotation="inline" width="130"></g:plusone>
					</li>
					<li> <div class="fb-like" data-send="true" data-layout="button_count" data-width="350" data-show-faces="true"></div></li>
				</ul>       -->
				{%if error%}
                                       	<div class="alert">
			                        <strong>Warning!</strong> {{error}}
                                        </div>
                                {%endif%}
 
				<div id="side_bar">
				<ul class="nav nav-pills">
                                        <li>
                                                <!-- Facebook Badge START --><a href="http://www.facebook.com/anoopmhn" target="_TOP" title="Anoop Mohan"><img src="http://badge.facebook.com/badge/100000371739134.2613.634736657.png" style="border: 0px;" /></a><!-- Facebook Badge END -->
					</li>

					<li>
						<!-- Facebook Badge START --><a href="http://www.facebook.com/anoopmhn" target="_TOP" title="Anoop Mohan"><img src="http://badge.facebook.com/badge/100000371739134.2614.351681280.png" style="border: 0px;" /></a><br/><a href="http://www.facebook.com/badges/" target="_TOP" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Make your own badge!">Create Your Badge</a><!-- Facebook Badge END -->
					</li>
				</ul>
 				</div>
				<font style="font-family:Garamond,  Times New Roman, Times, serif; color: #444;font-size:12pt">
Github Account Details can help you to search your github account (personal and repository) details, Organization details, topic searching, downloading, more over it helps you for <b>Generate a Resume from Your Github Account</b> .</font> </br> </br>
					<font size=2>Create your Github Resume.</font>
					<form method="POST" action="user_resume">
                                                <table>
                                                        <tr>
                                                                <td>
                                                                        <input type="search" id="resume" name="resume" placeholder="Enter your github username and click on generate" data-provide="typeahead" class="search-query" style="width:510px; height:30px;font-size:15pt;  font-family: Georgia, Garamond, Times New Roman, Times, serif; color: #444;"><span style="padding-left:10px"></span>

                                                                </td>
                                                                <td>
                                                                        <div class="searchbtn">
                                                                                        <input name="search" type="submit" value="Generate">
                                                                        </div>
                                                                </td>
                                                        </tr>
                                                </table>
                                                <font size=1 color="blue">Eg: Anoopsmohan, shabda etc... </font>
                                        </form>






				<div id="index_table_content">
					<font size=2>Do you want to search particular topic?</font>
					<form method="POST" action="topic_search">
						<table>
							<tr>
								<td>
									<input type="search" id="searchbox" name="searchbox" placeholder="Enter your desired search topic" data-provide="typeahead" class="search-query" style="width:234px; height:23px;font-size:12pt;  font-family: Georgia, Garamond, Times New Roman, Times, serif; color: #444;">
								</td>
								<td>
									<div class="searchbtn">
											<input name="search" type="submit" value="Search">
									</div>
								</td>
							</tr>
						</table> 
						<font size=1 color="blue">Eg: Django,linux,graph etc... </font>
					</form></br>
					<font size=2>Do you want to search a user account details?</font>
					<form method="POST" action="username_search">
						<table>
							<tr>
								<td>
									<input type="search" id="user_search" name="user_search" placeholder="Enter user or organization name" data-provide="typeahead" class="search-query" style="width:234px; height:23px;font-size:12pt;  font-family: Georgia, Garamond, Times New Roman, Times, serif; color: #444;">
								</td>
								<td>
									<div class="searchbtn">
										<input name="search" type="submit" value="Search">
									</div>
								</td>
							</tr>
						</table>
						<font size=1 color="blue">Eg: shabda,facebook,arya etc... </font>
					</form></br>
			<!--  RESUME  -->
		<!--			<form method="POST" action="user_resume">
                                                <table>
                                                        <tr>
                                                                <td>
                                                                        <input type="search" id="resume" name="resume" placeholder="Type a user name" data-provide="typeahead" class="search-query">
                                                                </td>
                                                                <td>
                                                                        <div class="searchbtn">
                                                                                        <input name="search" type="submit" value="Search">
                                                                        </div>
                                                                </td>
                                                        </tr>
                                                </table> 
                                                <font size=1 color="blue">Eg: Anoopsmohan, shabda etc... </font>
                                        </form></br>
							-->

					</br></br>
					<span class='st_twitter_large' displayText='Tweet'></span>
					<span class='st_facebook_large' displayText='Facebook'></span>
					<span class='st_linkedin_large' displayText='LinkedIn'></span>  
<script type="text/javascript" src="http://feedjit.com/serve/?vv=955&amp;tft=3&amp;dd=0&amp;wid=0d4a16586ead325d&amp;pid=0&amp;proid=0&amp;bc=FFFFFF&amp;tc=545454&amp;brd1=CCCCCC&amp;lnk=6AA5C4&amp;hc=878787&amp;hfc=FFFFFF&amp;btn=62BBDE&amp;ww=200&amp;went=10"></script><noscript><a href="http://feedjit.com/">Feedjit Live Blog Stats</a></noscript>
				</div>
				<div id="index_repo_div">
					<div class="slideshow" id="flavor_1">
						<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.js"></script>
						<script src="/static/agile_carousel.alpha.js"></script>  
						<script>
							    $.getJSON("static/agile_carousel_data.php", function(data) {
							        $(document).ready(function(){
							            $("#flavor_1").agile_carousel({
							                carousel_data: data,
							                carousel_outer_height: 228,
							                carousel_height: 228,
							                slide_height: 230,
							                carousel_outer_width: 480,
							                slide_width: 480,
							                transition_time: 300,
							                timer: 4000,
							                continuous_scrolling: true,
							                control_set_1: "numbered_buttons",
								        no_control_set: "hover_previous_button,hover_next_button"
							            });
							        });
							    });
						</script>
					</div>
					</br></br></br>
				<div id="fb_comment">
					<div class="fb-comments" data-href="http://www.github-details.appspot.com/" data-num-posts="2" data-width="470"></div>
				</div>
				</div>
			</div>
			<div id="footer">
				<center>
					<font size=1 color="maroon">Copyright statement. Designed by Anoop.S.M</br>All rights reserved.</font>
				</center>
			 </div>
		</div>
	</body>
</html>
